<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css">
    <link rel="icon" href="{% static '/images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <nav>
        <ul>
            <li><a href="javascript:history.back()">Back</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="intro">
            <h1>Welcome to Keith's collections of recipes</h1>
            <p>I'm trying to organize some of my recipes and you'll soon have access to all of them!</p>
        </div>
        <div class="search-container">
            <form action="/recipes/search/" method="post">
                {% csrf_token %}
                {{ form.search_term }}
                <input type="image" src="{% static '/icons/search-solid.svg' %}" value="Submit">
            </form>
        </div>
        <section>
            {% if category_list %}
                {% for key, values in category_list.items %}
                {% if values %}
                <article class="category-container">
                    <h2><a href="/recipes/{{ key }}">{{ key }}</a></h2>
                    <ul>
                        {% for x in values %}
                            <li><a href="/recipes/{{ x.id }}"><img src="{% static x.img_url %}" alt="" /><br/>{{ x.name }}</a></li>
                        {% endfor %}
                    </ul>
                </article>
                {% endif %}
                {% endfor %}
            {% endif %}
        </section>
    </div>
</body>
</html>