<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css" />
    <link rel="icon" href="{% static '/icons/favicon.ico' %}" type="image/x-icon" />
    <title>Calendar</title>
</head>
<body>
    <div class="container">
        {{ calendar }}
    </div>
    <script src="{% static '/scripts/scheduler.js' %}"></script>
</body>
</html>