html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

.week, .days-of-week {
    display: -webkit-flex;
    display: flex;
}

.days-of-week {
    text-align: center;
}

.week {
    height: 4rem;
}

.day {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    padding: 3px;
    box-shadow: -1px -1px #000000,  inset -1px -1px 0 0 #000000;
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
    margin-top: 3rem;
}

.month-header {
    text-align: center;
    margin: auto;
    font-size: 1.5em;
}