<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        {% if tasks %} {% for x in tasks %}
        <div>{{ x.title }}</div>
        <form action="/todo/" method="POST">
            {% csrf_token %}
            <button type="submit" name="del" value={{ x.id }}>Delete</button>
        </form>
        {% if not x.paused %}
            <form action="/todo/" method="POST">
                {% csrf_token %}
                <button type="submit" name="pause" value={{ x.id }}>Pause</button>
            </form>
        {% endif %}
        {% if not x.complete %}
            <form action="/todo/" method="POST">
                {% csrf_token %}
                <button type="submit" name="complete" value={{ x.id }}>Complete</button>
            </form>
        {% endif %}
        {% endfor %} {% endif %}
        <form action="/todo/" method="post">
            {% csrf_token %} {{ form }}
            <input type="submit" value="Add Task" />
        </form>
    </body>
</html>
