body {
  background-color: #6e3f98;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(9%,#6e3f98),to(#d6ab97));
  background-attachment: fixed;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

html {
  padding: 0;
  margin: 0;
  border: 0;
}

form {
  margin-top: auto;
  display: flex;
  margin-bottom: auto;
  vertical-align: middle;
  justify-content: center;
  width: 40%;
  align-items: center;
  height: 2.5rem;
  border-radius: 10px;
  background: hsla(0,0%,100%,.2);
  margin-right: auto;
  margin-left: auto;
  gap: 10px;
}

ul {
  display: block;
  list-style: none;
  text-align: left;
  text-transform: capitalize;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
}

.city-search {
  margin: 1rem;
}

.container {
  text-align: center;
  margin: 0;
  padding: 0;
}

.header-section {
  height: 3rem;
  background: hsla(0,0%,100%,.1)!important;
}

.header-frame {
  transform: translateY(10%);
}

.weather-frame {
  background: hsla(0,0%,100%,.1)!important;
  margin: 2rem;
  padding: 1rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  box-shadow: 0 0 12px 0 rgba(0,0,0,.2);
}

.weather-stats {
  display: inline-flex;
  gap: 3rem;
}