body {
  background: linear-gradient(#6e3f98, #d6ab97);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}

html {
  padding: 0;
  margin: 0;
  border: 0;
}

form {
  /* margin-top: 2em; */
  padding: .5em;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: auto;
  vertical-align: middle;
  justify-content: center;
  width: 50%;
  align-items: center;
  height: auto;
  border-radius: 10px;
  background: hsla(0,0%,100%,.2);
  margin-right: auto;
  margin-left: auto;
  gap: 10px;
}

input[type=text] {
  background-color: white;
  background-image: url('../icons/search.svg');
  background-position: 6px 6px;
  background-repeat: no-repeat;
  padding: 10px;
  padding-left: 40px;
}


ul {
  display: flex;
  list-style: none;
  text-align: left;
  text-transform: capitalize;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  margin: 0;
  line-height: 1.5;
  justify-content: space-between;
  width: 100%;
}

.city-search {
  margin: 1rem;
}

.container {
  text-align: center;
  margin: 0;
  padding: 0;
}

.header-section {
  height: auto;
  padding: .001em;
  background: hsla(0,0%,100%,.1)!important;
}

.header-frame {
  transform: translateY(10%);
}

.weather-frame {
  background: hsla(0,0%,100%,.1)!important;
  margin: 2rem;
  padding: 1rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  box-shadow: 0 0 12px 0 rgba(0,0,0,.2);
}

.weather-stats {
  display: inline-flex;
  flex-direction: column;
  width: 92%;
}

footer {
  margin: 0;
  overflow: hidden;
}